<div class="searchMenu-flex-container">
  <app-auto-complete class="searchMenu-element searchMenu-willIch"
                     [label]="'Will ich'"
                     placeholder="Will ich"
                     [mappingFunction]="suggestForInput"
                     (value)="willIchValue = $event"
                     (enterPressed)="sucheAlles()"
  ></app-auto-complete>
  <app-auto-complete class="searchMenu-element searchMenu-willIchNicht"
                     [label]="'Will ich nicht'"
                     placeholder="Will ich nicht"
                     [mappingFunction]="suggestForInput"
                     (value)="willIchNichtValue = $event"
                     (enterPressed)="sucheAlles()"
  ></app-auto-complete>
  <app-marked-event-counter (checkedEvent)="checkedThis($event)"></app-marked-event-counter>

</div>
