<div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="end"
  class="searchMenu-flex-container" >
  <div fxLayout="row wrap" fxLayoutGap="5px" fxFlex>

  <div class="searchMenu-element searchMenu-willIch" fxFlex>
  <app-auto-complete [label]="'Will ich'"
                     placeholder="Will ich"
                     [mappingFunction]="suggestForInput"
                     (value)="willIchValue = $event"
                     (enterPressed)="sucheAlles()"
  ></app-auto-complete>
  </div>
  <div class="searchMenu-element searchMenu-willIchNicht" fxFlex>
  <app-auto-complete [label]="'Will ich nicht'"
                     placeholder="Will ich nicht"
                     [mappingFunction]="suggestForInput"
                     (value)="willIchNichtValue = $event"
                     (enterPressed)="sucheAlles()"
  ></app-auto-complete>
  </div>
  </div>

<div class="searchMenu-element favouriteCounter" fxFlex="nogrow">
  <app-marked-event-counter [count]="this.count" (showSelectedEvents)="showSelectedEvents($event)"></app-marked-event-counter>
</div>

</div>
