<div
  fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="flex-start"   fxLayout.lt-sm="column" fxFlex="1 1 0"
  class="searchMenu-flex-container">
  <div class="searchMenu-element searchMenu-willIch" fxFlex.lt-md="0 1 calc(20% - 32px)"
       fxFlex.lt-sm="100%">
  <app-auto-complete [label]="'Will ich'"
                     placeholder="Will ich"
                     [mappingFunction]="suggestForInput"
                     (value)="willIchValue = $event"
                     (enterPressed)="sucheAlles()"
  ></app-auto-complete>
  </div>
  <div class="searchMenu-element searchMenu-willIchNicht" fxFlex.lt-md="0 1 calc(20% - 32px)"
       fxFlex.lt-sm="100%">
  <app-auto-complete [label]="'Will ich nicht'"
                     placeholder="Will ich nicht"
                     [mappingFunction]="suggestForInput"
                     (value)="willIchNichtValue = $event"
                     (enterPressed)="sucheAlles()"
  ></app-auto-complete>

</div>

<div class="searchMenu-element favouriteCounter">
  <app-marked-event-counter [count]="this.count" (showSelectedEvents)="showSelectedEvents($event)"></app-marked-event-counter>
</div>
