.dasEventContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5%;
  width: 70%;
  max-height: 10%;


}

.itemDate {
  order: 0;
  background-color: aqua;
  height: 100%;
  font-family: Impact;
}

.itemDateDay {

  align-items: center;

  font-size: 250%;
  order: 0;}


.itemDateMonth {
  font-size: medium;
  order: 0;

}

.itemPicture {
  order: 1;
  background-color: yellow;
}

.itemEventinfo {
  order: 2;
  background-color: blueviolet;
  float: left;
  overflow: none;
  flex: 1 1 auto;
}

.itemEventinfoMore {
  color: aqua;
  order: 2;
  white-space: pre-wrap;
}

.itemCheckbox {
  order: 3;
  align-items: flex-end;
  background-color: green;
}
