.dasEventContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5%;
  height:10%;
  box-sizing: border-box;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Event{
  width: 90%;
  text-align: left;
  height: 100%;
  box-sizing: border-box;
}

  .itemDate{
    order: 0;
    text-align:center;
    flex-grow:5%;
    float: left;
    height: 100%;
    font-family: Impact;
  }

      .itemDateDay{
        box-sizing: border-box;
        text-align: center;
        align-items: flex-start;
        order: 0;
        font-size: 300%;
      }
      .itemDateDay7{
        font-size: medium;
        order: 0;
      }

  .itemPicture{
  order: 1;
  width:5%;
  float: left;
  }

  .itemEventinfo{
    box-sizing: border-box;
    order: 2;
    background-color: f8fcfe;
    float: left;
    overflow: none;
    flex: 1 1 auto;
    width:  80%;
  }
      .itemEventinfoMoore{
        order: 2;
        box-sizing: border-box;
      }
.Check {
  flex-grow: 10%;
}

.itemEventinfo {
  order: 2;
  background-color: #d6d2d3;
  float: left;
  overflow: none;
  flex: 1 1 auto;
}

.itemEventinfoMore {
  color: black;
  order: 2;
  white-space: pre-wrap;
}

  .itemCheckbox{
  order: 3;
  align-items: center;
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  }
