<div class="dasEventContainer">
  <div class="itemDate">
    <div class="itemDateDay">27</div>
    <div class="itemDateMonth">March</div>
  </div>

  <div class="itemPicture" (click)="this.isInfoMooreHidden =!this.isInfoMooreHidden">
    <img [src]="bildLink" alt="vorschau"/>
  </div>

  <div class="itemEventinfo" (click)="this.isInfoMooreHidden =!this.isInfoMooreHidden">
    {{dasEvent.eventName}}
    <p>some text</p>

    <div class="itemEventinfoMore" [hidden]="isInfoMooreHidden">Lorem ipsum dolor sit amet, consetetur
      sadillllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooollllpscing
      elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
      eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
      ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>

  <div class="itemCheckbox">
    <input type="checkbox" id="merken" name="merken" value={{dasEvent.eventName}}>
  </div>
</div>
