<div class="dasEventContainer">
  <div class="itemDate">
    <div class="itemDateDay">27</div>
    <div class="itemDateMonth">March</div>
  </div>

  <div class="itemPicture">
    <img [src]="bildLink" alt="vorschau"/>
  </div>

  <div class="itemEventinfo">
    {{dasEvent.eventName}}
    <p>{{dasEvent.subtitle}}</p>
    <div class="itemEventinfoMore">{{dasEvent.eventText}}</div>
  </div>

  <div class="itemCheckbox">
    <input type="checkbox" id="merken" name="merken" value={{dasEvent.eventName}}>
  </div>

</div>
