<div class="dasEventContainer">
  <div class="itemDate">
    <div class="itemDateDay">{{day}}</div>
    <div class="itemDateMonth">{{month}}</div>
  </div>

  <div class="itemPicture" (click)="this.isInfoMooreHidden =!this.isInfoMooreHidden">
    <img [src]="bildLink" alt="vorschau"/>
  </div>

  <div class="itemEventinfo" (click)="this.isInfoMooreHidden =!this.isInfoMooreHidden">
    {{dasEvent.eventName}}
    <p>{{dasEvent.subtitle}}</p>

    <div class="itemEventinfoMore" [hidden]="isInfoMooreHidden">{{dasEvent.eventText}}
    </div>
  </div>

  <div class="itemCheckbox">
    <mat-checkbox value="{{dasEvent.eventName}}" (change)="checkboxChanged($event)"></mat-checkbox>
  </div>
</div>
